<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit Your X-Ray</title>

    <link href="../static/styles.css" rel="stylesheet">
  </head>


</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<body>

<!-- Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">    
  <a class="navbar-brand" href="#">NIH Chest X-ray CNN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><!--
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>-->
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>-->
 <!--      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>--> 
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">A Machine Learning Analysis of 14 Common Thorax Diseases</a>
        </li>
      </ul><!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
<!--Jumbotron-->


  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3">Submit Your X-Ray For Review</h2>
      <p></p>
      <form method='post' action='' enctype="multipart/form-data">
        Use choose file to select your image for upload, file types allowed .png <input type='file' name='file' id='file' class='form-control' ><br>
        <input type='button' class='btn btn-primary btn-lg' value='Submit' id='upload'>
      </form>


    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <style>

          h2 {
              font-family: Tahoma, Verdana, Segoe, sans-serif;
          }
      
          h3 {
              font-family: Tahoma, Verdana, Segoe, sans-serif;
          }
      
          dt {
              font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; 
          }
          
         dd {
          font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 22px; 
          }
          </style>
      
          <h2>Descriptions and Visual Examples of Common Thoracic Diseases</h2>
          <br>
          <h3>8 Common Lung Diseases</h3>
          <br>
          <img src="../static/img/eightcommon.png" alt="8 common lung diseases" hspace="50">
      <br>
          <dl>
              <dt>Atelectasis</dt>
                  <br>
                  <img src="../static/img/00030674_atelectatis.png" alt="Atelectasis" width="300" height="300" hspace="50">
                  <br>
                  <dd>Collapse or closure of a lung resulting in reduced or absent gas exchange.</dd>
                  <br>
      
              <dt>Cardiomegaly</dt>
                  <br>
                  <img src="../static/img/00030279_cardiomegaly.png" alt="Cardiomegaly" width="300" height="300" hspace="50">
                  <br>
                  <dd>Enlarged heart.</dd>
                  <br>
      
              <dt>Effusion</dt>
                  <br>
                  <img src="../static/img/00030634_effusion.png" alt="Effusion" width="300" height="300" hspace="50">
                  <br>
                  <dd>Pleural effusion that arises as a result of a pneumonia, lung abscess, or bronchiectasis.</dd>
                  <br>
      
              <dt>Infiltration</dt>
                  <br>
                  <img src="../static/img/00030636_infiltrate.png" alt="Infiltration" width="300" height="300" hspace="50">
                  <br>
                  <dd>A pulmonary infiltrate is a substance denser than air, such as pus, blood, or protein, which lingers within the parenchyma of the lungs. Pulmonary infiltrates are associated with pneumonia, tuberculosis, and nocardiosis.</dd>
                  <br>
      
              <dt>Mass</dt>
                  <br>
                  <img src="../static/img/00030323_mass.png" alt="mass" width="300" height="300" hspace="50">
                  <br>
                  <dd>Pulmonary mass is any area of pulmonary opacification that measures more than 30 mm. The most common cause of a pulmonary mass is lung cancer.</dd>
                  <br>
      
              <dt>Nodule</dt>
                  <br>
                  <img src="../static/img/00030412_nodule.png" alt="Nodule" width="300" height="300" hspace="50">
                  <br>
                  <dd>A small single mass in the lungs that's usually benign.	</dd>
                  <br>
      
              <dt>Pneumonia</dt>
                  <br>
                  <img src="../static/img/00029861_pneumonia.png" alt="Pneumonia" width="300" height="300" hspace="50">
                  <br>
                  <dd>Pneumonia is an inflammatory condition of the lung affecting primarily the small air sacs known as alveoli.</dd>
                  <br>
      
              <dt>Pneumothorax</dt>
                  <br>
                  <img src="../static/img/00030606_pneunothorax.png" alt="Pneumothorax" width="300" height="300" hspace="50">
                  <br>
                  <dd>A pneumothorax is an abnormal collection of air in the pleural space between the lung and the chest wall.</dd>
                  <br>
      </dl>
      
                  <br>
      
      <dl>
      
          <dt>Edema</dt>
              <dd>Pulmonary edema is fluid accumulation in the tissue and air spaces of the lungs.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
              <br>
      
          <dt>Pleural Thickening</dt>
              <dd>Pleural plaques are patchy collections of hyalinized collagen in the parietal pleura.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
              <br>
      
          <dt>Emphysema</dt>
              <dd>Obstructive lung disease characterized by long-term breathing problems and poor airflow.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
              <br>
      
          <dt>Fibrosis</dt>
              <dd>Fibrosis is a respiratory disease in which scars are formed in the lung tissues, leading to serious breathing problems.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
              <br>
      
          <dt>Hernia</dt>
              <dd>Lung hernia (Sibson hernia) is a protrusion of lung outside of thoracic wall.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
              <br>
      
          <dt>Consolidation</dt>
              <dd>Region of normally compressible lung tissue that has filled with liquid instead of air.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
              <br>
      
          <dt>Edema</dt>
              <dd>Pulmonary edema is fluid accumulation in the tissue and air spaces of the lungs.</dd>
              <!-- <img src="" alt="" width="300" height="300"> -->
      </dl>


      </div>
    </div>

    <hr>

  </div>

</body>
</html>