body {
  padding-top: 3.5rem;
}

.map {
  margin:10px;
  position: relative;
  display: inline-block;

}

.map img {
  max-width:100%;
  display: block;
}

.box {
  width:8%;
  height:8%;
  background-image:   url(img/icons8-marker-24.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:29%;
  left:36%;
}

#pin-2 {
  top:58%;
  left:66%;
}

.box:hover > .pin-text {
  display: block;
}

.pin-text {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left:75%;
  white-space:nowrap;
  display: none;
}

.pin-text h3 {
    color:white;
    text-shadow: 1px 1px 1px #000;
}